body.modal-open {
  overflow: hidden;
}

.modal,
.modal__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.modal {
  overflow-x: hidden;
  overflow-y: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  -ms-grid-row-align: flex-start;
  align-items: flex-start;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 1000;
}

@media screen and (min-width: 62em) {
  .modal {
    -webkit-align-items: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
  }
}

.modal__overlay {
  background: #000;
  opacity: .75;
  z-index: 999;
}

.modal__content {
  padding: 1rem;
  margin: auto 1rem;
  position: relative;
  background-color: #fff;
  border-radius: 5px;
  z-index: 1000;
}

@media screen and (min-width: 62em) {
  .no-flexbox .modal__content {
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
  }
}

.modal__close {
  display: block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: url('/core/misc/icons/000000/ex.svg') 0 0 no-repeat;
  width: 16px;
  height: 16px;
}

.modal__title {
  padding-right: 2rem;
}
