<div class="modal" role="dialog" tabindex="0" aria-labelledby="dialog-title">
  <div class="modal__content">

    {% if element.title is not empty %}
      <h2 class="modal__title" id="dialog-title">{{ element.title }}</h2>
    {% endif %}

    <a class="modal__close" aria-label="close">Close</a>

    {{ element['#children'] }}

  </div>

  <div class="modal__overlay"></div>

</div>
